body {
    background-repeat: no-repeat;
}

.container {
    margin-top: 7rem;

}

.btn-danger {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.btn-warning {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1.175rem;
    padding-right: 1.175rem;
}

.fa-times,
.fa-edit {
    font-size: 1.5rem;
}

.action-btn {
    height: 2.1rem;
}

.blockBtn a {
    width: 100%;
}

#sousTitre {
    margin: 2rem;
}

.content {
    margin-top: 2rem;
}

#btAdd {
    margin-left: 1rem;
}

#btAdmin {
    width: 100%;
    justify-content: right;
    display: flex;
}

#navbarAl {
    width: 100%;
}

#titlePojetShow {
    align-items: center;
}

#titlePojetShow h2 {
    width: fit-content;
}

#titlePojetShow a {
    width: fit-content;
}



@media (max-width: 991px) {
    #btAdmin {
        width: fit-content;
        display: block;
    }

    #navbarAl {
        width: fit-content;
    }
}

.block1 {
    display: flex;
}

.block2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
}

.block3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media (max-width: 991px) {
    .block1 {
        flex-direction: column;
        align-items: center;
    }

    .block2 {
        width: auto;
    }

    .block3 {
        width: auto;
    }
}