{% extends "base.html.twig" %}

{% block body %}

<h1 class="d-flex justify-content-center">Mon premier projet Symfony</h1>

<h3 id="sousTitre" class="d-flex justify-content-center">Projet de création d'un portfollio avec le framework Symfony</h3>

{% endblock %}
